body {
	font-family: 'Raleway', sans-serif;
}

img {
	border: 0;
	max-width: 100%;
	max-height: 100%;
}


/* HEADER */

header {
	background-color: #456;
	background-image: url("../img/background.png");
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	/* Font size defaut */
	font-size: 1.0em;
	padding: 50px 0;
}

header h4 {
	color: #FFF;
}

header .front {
	text-align: center;
}


/* NAVBAR */

.navbar {
	border: 0;
	background-color: #111;
	border-radius: 0px;
}

/* Adjust Toggle button */
.navbar-toggle {
	margin-top: 18px;
}

/* Adjust Navbar Height */
.navbar-brand,
.navbar-nav li a {
	padding-top: 0;
}
.navbar-brand,
.navbar-nav li a {
	color: #FFF !important;
	line-height: 70px;
	height: 70px;
}
.dropdown-menu > li > a {
	line-height: 40px;
	height: 40px;
}

.navbar-brand:hover,
.navbar-nav li a:hover {
	background-color: #09f !important;
	color: #9f0 !important;
}
.active > a {
	background-color: #09f !important;
}

.navbar-nav .open .dropdown-toggle {
    background-color: #222 !important;
}

.navbar div ul li .dropdown-menu {
	background-color: #222;
	border-top: 2px solid #09f;
}


/* FOOTER */

footer {
	text-align: center;
}

footer a {
	color: #ccc;
}

footer a:hover {
	color: #09f;
	text-decoration: none;
}

footer h3 {
	color: #09F;
}

footer .footer-above {
	background-color: #111;
	color: #FFF;
	margin-top: 50px;
	padding: 30px 0 50px 0;
}

footer .footer-icons {
	margin-left: 10px;
	margin-right: 10px;
}

footer .footer-below {
	color: #FFF;
	padding: 25px 0;
	background-color: #09F;
}