body {
	font-family: 'Raleway', sans-serif !important;
}

footer {
	text-align: center;
}

footer a {
	color: #ccc;
}

footer a:hover {
	color: #09f;
	text-decoration: none;
}

footer h3 {
	color: #09F;
}

footer .details {
	background-color: #000;
	color: #FFF;
	margin-top: 50px;
	padding: 30px 10px 50px 10px;
}

footer #footer-icons {
	color: #FFF;
	font-size: 2.4em;
}

footer #footer-icons:hover {
	color: #09f;
}

footer .footer-below {
	color: #FFF;
	padding: 25px 0;
	background-color: #09F;
}